@import url('https://fonts.googleapis.com/css2?family=Inclusive Sans:wght@200;400;600;800&display=swap');

/* reset bootstrap  */
:root {
    --base-font-size: 1rem;
    --bs-nav-link-font-size: var(--base-font-size);
    --bs-body-font-size: var(--base-font-size);
    --bs-dropdown-font-size: var(--base-font-size);

    --bs-link-hover-color: var(--bs-light);
    --bs-link-hover-background: var(--bs-dark);
}

body {
    font-family: 'Inclusive Sans', system-ui, sans-serif;
}

/* custom utility classes  */

.mb-6 {
    margin-bottom: $spacer * 4;
}

.bg-faded {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0.3;
    background-color: var(--bs-dark);
}

.product-badge {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
}

.top-nav .nav-link:hover{
    color: var(--bs-gray-600);
}

.nav-link {
    padding: 0.75rem;
    color: var(--bs-dark);
}


/* header  */
header.fixed-top {
    background: var(--bs-dark) !important;
    color: var(--bs-light) !important;
    padding: 0 2rem;
}

header.fixed-top ul:not(.mobile-menu)>li>a:not(.dropdown-item),
header.fixed-top>a:not(.mobile-icon),
header.fixed-top a:not(.mobile-icon) i {
    color: var(--bs-light) !important;
}


.mobile-menu a.nav-link {
    padding: 1rem;
}

.mobile-menu a.nav-link:hover,
.top-navigation .nav-link:hover {
    background: var(--bs-link-hover-background);
    color: var(--bs-link-hover-color) !important;
}


.dropdown-menu {
    overflow: hidden;
}

.dropdown-item:hover {
    background: var(--bs-link-hover-background);
    color: var(--bs-link-hover-color);
}

.nav-item.dropdown .dropdown-menu li a.dropdown-item {
    padding: 0.75rem;
}

.top-icons i {
    font-size: 1.6rem;
}

/* hero section  */
.top-carousel {
    height: 400px;
}

.top-carousel .carousel-inner {
    height: 100%;
}

.top-carousel .carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 400px;
}

.glide__slide {
    position: relative;
}

.search-bar {
    height: 3.5rem;
}

.mobile-category-btn {
    height: 3.5rem;
}

.sidebar li .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    // padding-left: 1rem;
    // padding-right: 1rem;
}


.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
    padding: 0.7rem;
    display: flex;
}

// .sidebar .nav-item{
//     display: flex;
// }
.sidebar .nav-link span:first-child {
    flex: 0 0 2rem;
    // width: 20px;
    // margin: 0 10px;
    // padding: 0.4rem 0.5rem;
}

.sidebar .nav-link span:last-child {
    flex-grow: 1;
}

.sidebar ul li:not(:last-child) {
    border-bottom: 0.1px solid #dcdbdb;
}

.sidebar .nav-link:hover {
    background: var(--bs-link-hover-background);
    color: var(--bs-link-hover-color);
}

.all-categories-btn::after {
    background-image: none !important;
    content: "\f107";
    font-family: FontAwesome;
}

.all-categories-btn:not(.collapsed)::after {
    transform: none;
}

.has-submenu .nav-link {
    position: relative;
}

.has-submenu>.nav-link::after {
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    right: 4%;
}

/* category slider  */
.category-carousel div img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: top;
}


.category-title {
    position: absolute;
    bottom: .5rem;
    left: calc(50% + 10px);
    transform: translate(-50%, -50%);
    padding: 10px 25px;
}



.product-link {
    text-decoration: none;
    color: var(--bs-link-color);
}

.product-link:hover {
    color: var(--bs-gray-600);
}

/* .product-card-actions{
    height: 100%;
    width: 100%;
    background: #111;
    opacity: 0.5;
} */

/* featured products  */

.featured-products img {
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.product-action-container {
    cursor: pointer;
    opacity: 0;
    transition: 200ms ease;
}

.product-card:hover .product-action-container {
    opacity: 1;
}

.product-card-actions {
    color: var(--bs-light);
    font-size: 1.3rem;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.flash-sales-image {
    background-position: top center;
    background-size: cover;
}

.flash-sale-counter-title {
    font-size: 10px;
}

/* brand carousel  */
.brand-carousel .item {
    height: 200px;
}

.brand-carousel .item img {
    width: 120px;
    height: 100%;
    object-fit: contain;
}

/* blogs  */
.blogs .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.blogs div .card-img-top {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.blogs div .card-img-top img {
    transition: all 200ms ease;

}

.blogs div:hover .card-img-top img {
    scale: 1.15;
}

/* cart sidebar  */
.cart-calculation table td,
.cart-calculation table th {
    padding: 1rem;
}

.cart-product img {
    object-fit: cover;
}

.cart-product .info {
    padding: 1rem 0.5rem;
}

.list-of-items {
    // max-height: max-content;
    overflow-y: scroll;
}

/* footer  */
.footer-bg {
    background: var(--bs-gray-100);
}



/* Cart Page  */
.absolute-category {
    position: absolute;
    min-width: 414px;
    border: 0.2px solid var(--bs-gray-200);
    background: var(--bs-light);
    z-index: 999;
}

.cart-summary tbody tr td:first-child{
    text-align: right;
}
.cart-summary tbody{
    font-size: 0.9rem;
}
.cart-summary tr:last-child td{
    border: none;
}
.cart-summary tr:not(:last-child) td{
    padding-block: 0.8rem;
}
.cart-table td,
.cart-table th {
    vertical-align: middle;
    padding-block: 1.1rem;
}

/* product page  */
.img-thumbnail{
    padding: 0;
    border-radius: 0;
}
.img-thumbnail a div {
    width: 100%;
    height: 400px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat !important;
    transition: opacity .5s;
    display: block;
    width: 100%;
    cursor: zoom-in;
}

.img-big-wrap {
    padding: 0;
    border-radius: 0;
    border: 1px solid var(--bs-gray-100);
}

.img-big-wrap a div img {
    object-fit: cover;
    height: 400px;
    width: 100%;
}


.img-big-wrap:hover a div img {
    opacity: 0;
}


.thumbs-wrap {
    margin-block: 1rem;
    display: inline-block;
}

.item-thumb {
    display: inline-block;
    height: 70px;
    width: 110px;
    border: 2px solid transparent;
}

.item-thumb img {
    object-fit: cover;
    object-position: top left;
    height: 100%;
    width: 100%;
}
.item-thumb.active{
    border: 2px solid var(--bs-black);
}

.list-menu {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.list-menu li {
    position: relative;
    margin-bottom: 4px;
}

.list-menu li a {
    display: block;
    color: #51585e;
    text-decoration: none;
}

.buy-now-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.buy-now-buttons a {
    flex: 1 1 0px;
    // width: 100%;
}
.single-product-info li a.nav-link:hover{
    color: var(--bs-link-hover-color);
    background: var(--bs-link-hover-background);
}
.card-header-tabs{
    margin: 0;
}
.card-header-tabs .nav-link{
    border-radius: 0;
    background: var(--bs-gray-200);
}
.card-header-tabs .nav-item:not(:last-child){
    border-right: 1px solid var(--bs-gray-100);
}
.card-header-tabs .nav-link.active{
    background: var(--bs-dark);
}

.filter-group .card-header {
    border-radius: 0 !important;
    background: var(--bs-dark);
    border-bottom: 1px solid var(--bs-gray-600);
}

// .filter-group .card-header a.title {

// }

.filter-group .card-header .title {
    margin-bottom: 0;
    display: block;
    padding-block: 0.50rem;
    color: var(--bs-light);
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-group .card-header .title .icon-control:before {
    content: "\f106";
    font-family: FontAwesome;
}

.filter-group .card-header .title.collapsed .icon-control:before {
    content: "\f107";
    font-family: FontAwesome;
}

.filter-group .card-body {
    border: 1px solid var(--bs-gray-200);
}

.size-group label {
    border-radius: 0;
}



/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .item-thumb {
        width: 100px;
    }
    .sidebar li {
        position: relative;
    }

    .sidebar li .submenu {
        display: none;
        border-radius: 0;
        position: absolute;
        left: 100%;
        top: -7px;
        min-width: 240px;
    }

    .sidebar li:hover>.submenu {
        display: block;
    }
}

/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
.mobile-nav span[data-bs-target="#menu"]{
    outline: 1px solid var(--bs-gray-600);
}
@media (max-width: 991px) {
    .item-thumb {
        width: 90px;
    }
    .sidebar .submenu,
    .sidebar .dropdown-menu {
        position: static !important;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }

}

/* ============ small devices .end// ============ */